.welcome{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    height: calc(100vh - 150px);
}

img{
    height: 85%;
}