.create{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    height: calc(100vh - 150px);
    overflow: auto;
    position: relative;
    background-image: url('../../photos/3L3A6985.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form-main{
    background:rgba(255,255,255,0.8);
    font-size:1.5em;
    border: solid black 3px;
    border-top-left-radius:10px;
    border-bottom-right-radius:10px;
    max-height: 95%;
    height: fit-content;
    width: 50%;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    margin: 10px;

    .form-input-box {
        width: 90%;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 20px auto;
      }
      
      .form-text-box {
        width: 90%;
        margin: 3px auto 10px;
      }
    
      .form-text-box > p {
        margin: 0 0 7px;
      }

    h2{
        font-size: 1.5em;
    }
    p{
        margin: 5px;
    }
    textarea {
      min-width: 100%;
      max-width: 100%;
      min-height: 100px;
      font-family: "Raleway", sans-serif;
      font-size: 12px;
    }
    .dropbox{

        position: relative;
        min-width: 90%;

        margin-top: 10px;
        padding: 10px;
        height: 200px;
        border: dashed 2px silver;
        display: 'inline-block';
        font-size: 17px;
        font-family: "Raleway", sans-serif;
    }
}

$breakpoint-mobile: 1000px;

@media (max-width: $breakpoint-mobile) {
  .create{
        textarea {
        min-width: 95%;
        max-width: 100%;
        min-height: 100px;
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
      }
  }
}