.postcontent {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  margin: 15px;
  align-content: center;
  background: rgba(255, 255, 255, 0.5);
  border-top: solid black 3px;
  border-bottom: solid black 3px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: larger;
  min-height: min-content;
  box-sizing: border-box;
  word-wrap: break-word;
  text-align: center;


  img {
    max-width: 98%;
    margin: 10px;
  }

  h2 {
    font-size: 2.5em;
    margin: 2px;
    
  }
  .content {
    font-family: "Raleway", sans-serif;
  }
  textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
  }
  input {
    width: 97%;
  }
  .buttons {
    width: 90%;
  }
  .cheers{
    display: flex;
  }
  .dropbox{

    position: relative;
    min-width: 90%;
    text-align: center;
    margin-top: 10px;
    padding: 1px;
    height: fit-content;
    border: dashed 2px silver;
    display: 'inline-block';
    font-size: 17px;
    font-family: "Raleway", sans-serif;
}
}

$breakpoint-mobile: 1000px;

@media (max-width: $breakpoint-mobile) {
  .postcontent {

    .form-text-box {
      width: 95%;
    }

    input{
      width: 90%;
    }
  }
}
