.nav {
    display: flex;
    max-width: 100vw;
    height: 100px;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    padding: 7px;
    box-sizing: border-box;
    position: relative;
    top: 0;
    font-size: 3em;
    color: #d7d6d6;
    z-index: 1;
}

.nav-main{
   
        padding: 0;
        margin: 0;
   
}

li{
    margin: 3px;
    padding: 4px;
    font-size: 1.5em;
} 

.nav-drop {
    position: absolute;
    top: 67px;
    right: 0;
    background-color: rgba(0, 0, 0, .75);
    color: white;
    height: 0px;
    display: none;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
    text-align: center;

    
    overflow: hidden;

    a{
        color: #d7d6d6;
        &:hover {
          color: bisque;
        }
        &:visited {
          text-decoration: none;
        }
      }
}
.show {
    height: fit-content;
    width: fit-content;
    padding: 10px;
  }
.burger{
    display: none;
}

$breakpoint-mobile: 1000px;

@media (max-width: $breakpoint-mobile){
    .nav-main {
        display: none;
    }
    .nav{
        font-size: 2em;
    }
    .nav-drop {
        display: block;
    }
    li{
        margin: 3px;
        padding: 4px;
        font-size: 1em; 
    }
    .burger{
        display: block;
    }
}